:root{
    --max-width: 1100px;
    --orange: #f1a10d;
    --dark-orange: #df9a1a;
    --black: #000000;
    --grey: #e4e4e4;
    --dark-grey: #a2a2a2;
    --red: #ff0000;
}

*{
    box-sizing: border-box;
}

.tf-content-wrap{
    max-width: var(--max-width);
    margin: 0 auto;
}

/*----------------------------------------
# Header
----------------------------------------*/

.tf-header{
    font-size: 18px;
    padding: 20px;
}

.tf-header .tf-content-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */

.tf-header .tf-header-logo img{
    width: 200px;
    height: auto;
}

/* Menu */

.tf-header .tf-header-menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;
}

.tf-header .tf-header-menu ul a{
    border-radius: 30px;
    padding: 12px 17px;
    text-decoration: none;
    color: var(--black);
}

.tf-header .tf-header-menu ul a:hover{
    background-color: var(--grey);
}

/* Actions */

.tf-header .tf-header-actions{
    width: 200px;
    text-align: right;
}

/*----------------------------------------
# Buttons
----------------------------------------*/

.tf-button{
    background-color: var(--orange);
    color: #fff;
    border-radius: 30px;
    padding: 12px 17px;
    font-weight: bold;
    text-decoration: none;
    border-color: var(--orange);
    cursor: pointer;
    border-width: 0;
    font-size: 18px;
    display: inline-block;
}

.tf-button:hover{
    background-color: var(--dark-orange);
}

/* Loading */

.tf-button.loading::after{
    content: '';
    width: 30px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,#fff 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: loader 1s steps(4) infinite;
    display: inline-block;
    margin-left: 5px;
}

@keyframes loader {
    to{ 
        clip-path: inset(0 -34% 0 0)
    }
}

/* Complete */

.tf-button.complete {
    position: relative;
    padding-right: 47px;
}

.tf-button.complete:after {
    content: '';
    position: absolute;
    top: calc( 50% - 2px );
    right: 20px;
    width: 7px;
    height: 14px;
    border: solid #ffffff;
    border-width: 0 4px 4px 0;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 2px;
}

/*----------------------------------------
# Auth Page
----------------------------------------*/

.tf-auth-page{
    max-width: 450px;
    margin: 0 auto;
    padding: 60px;
}

.tf-auth-page .tf-auth-page-logo{
    text-align: center;
}

.tf-auth-page .tf-auth-page-logo img{
    width: 60px;
    height: auto;
}

.tf-auth-page h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

/* Form */

.tf-auth-page .tf-auth-page-form .tf-auth-page-form-field{
    margin-bottom: 20px;
}

.tf-auth-page .tf-auth-page-form .tf-auth-page-form-field label{
    display: block;
    font-size: 18px;
}

.tf-auth-page .tf-auth-page-form .tf-auth-page-form-field input[type="text"],
.tf-auth-page .tf-auth-page-form .tf-auth-page-form-field input[type="password"]{
    display: block;
    font-size: 18px;
    border-radius: 5px;
    padding: 7px 10px;
    width: 100%;
    margin-top: 5px;
    border: solid 1px var(--dark-grey);
}

.tf-auth-page .tf-auth-page-form .tf-button{
    display: block;
    width: 100%;
}

.tf-auth-page .tf-auth-page-forgot{
    color: var(--black);
    margin-bottom: 30px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
}

.tf-auth-page .tf-auth-page-forgot:hover{
    text-decoration: underline;
}

/* Sign Up */

.tf-auth-page .tf-auth-page-signup {
    text-align: center;
    margin-top: 50px;
}

.tf-auth-page .tf-auth-page-signup .tf-auth-page-signup-heading{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: normal;
}

.tf-auth-page .tf-auth-page-signup .tf-auth-page-signup-link{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}

.tf-auth-page .tf-auth-page-signup .tf-auth-page-signup-link:hover{
    text-decoration: underline;
}

/* Resend */

.tf-auth-page .tf-auth-page-resend {
    text-align: center;
    margin-top: 50px;
}

.tf-auth-page .tf-auth-page-resend .tf-auth-page-resend-heading{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: normal;
}

.tf-auth-page .tf-auth-page-resend .tf-resend-verify-email .tf-resend-verify-email-button{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
}

.tf-auth-page .tf-auth-page-resend .tf-resend-verify-email .tf-resend-verify-email-button:hover{
    text-decoration: underline;
}

.tf-auth-page .tf-auth-page-resend .tf-resend-verify-email .tf-resend-verify-email-button.loading:after {
    background: radial-gradient(circle closest-side, #000000 90%, #0000) 0 / 33.3333% 100% space;
}

.tf-auth-page .tf-auth-page-resend .tf-resend-verify-email .tf-resend-verify-email-button.complete{
    padding-right: 30px;
}

.tf-auth-page .tf-auth-page-resend .tf-resend-verify-email .tf-resend-verify-email-button.complete:after{
    border-color: #000000;
    right: 5px;
}

/*----------------------------------------
# Error Notices
----------------------------------------*/

.tf-error-notice{
    display: flex;
    align-items: center;
    background-color: var(--red);
    color: #ffffff;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.tf-error-notice svg{
    width: 30px;
    margin-right: 5px;
}

.tf-error-notice svg path{
    fill: #ffffff;
}

/*----------------------------------------
# Password Field
----------------------------------------*/

.tf-password-field{
    position: relative;
}

.tf-password-field input[type="text"],
.tf-password-field input[type="password"]{
    padding-right: 45px;
}

.tf-password-field button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0.4;
}

/*----------------------------------------
# Verification Codes
----------------------------------------*/

.tf-verification-code-wrap .tf-verification-code-label{
    text-align: center;
    margin-bottom: 20px;
}

.tf-verification-code-wrap .tf-verification-code{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.tf-verification-code-wrap .tf-verification-code .tf-verification-code-digits{
    display: flex;
}

.tf-verification-code-wrap .tf-verification-code .tf-verification-code-digits input{
    width: 30px;
    font-size: 25px;
    padding: 5px;
    margin-right: 5px;
    text-align: center;
}

.tf-verification-code-wrap .tf-verification-code .tf-verification-code-digits .tf-verification-code-separator{
    font-size: 34px;
    margin-left: 5px;
    margin-right: 10px;
}

/*----------------------------------------
# 2FA Enable Page
----------------------------------------*/

.tf-2fa-enable .tf-2fa-enable-subheading{
    font-size: 20px;
    margin: 30px 0;
}

.tf-2fa-enable .tf-2fa-enable-bold{
    font-weight: bold;
}

.tf-2fa-enable ol{
    padding-left: 20px;
    margin-bottom: 30px;
}

.tf-2fa-enable ol li{
    margin-bottom: 10px;
}

.tf-2fa-enable .tf-auth-page-signup{
    margin-top: 20px;
}

.tf-2fa-enable .tf-auth-page-signup .tf-auth-page-signup-heading {
    font-size: 16px;
}

.tf-2fa-enable .tf-auth-page-signup .tf-auth-page-signup-link {
    font-size: 18px;
}

/*----------------------------------------
# 2FA Configure Page
----------------------------------------*/

.tf-2fa-configure h1{
    font-size: 34px;
}

.tf-2fa-configure .tf-2fa-configure-subheading{
    text-align: left;
    margin: 30px 0 20px 0;
    font-size: 20px;
}

.tf-2fa-configure .tf-2fa-configure-qrcode{
    text-align: center;
}

.tf-2fa-configure .tf-2fa-configure-secret{
    background: #EFEFEF;
    padding: 10px;
    font-size: 16px;
    margin-top: 20p;
    margin-bottom: 40px;
}

.tf-2fa-configure .tf-2fa-configure-button-wrap{
    text-align: center;
}

.tf-2fa-configure .tf-2fa-configure-cancel-wrap{
    text-align: center;
}

.tf-2fa-configure .tf-2fa-configure-cancel-wrap .tf-2fa-configure-cancel{
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.tf-2fa-configure .tf-2fa-configure-cancel-wrap .tf-2fa-configure-cancel:hover {
    text-decoration: underline;
}